.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies
.vscode
.settings

android/app/bin
android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/app/.project
android/app/.classpath
android/app/.settings/org.eclipse.buildship.core.prefs

ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec