# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.dart_tool/
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

.packages
.pub/
pubspec.lock
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

build/
android/.classpath
android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/bin
.vscode/settings.json
.vscode/launch.json
.clang-format
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
