.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
android/.classpath
android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/bin
.vscode/settings.json
.vscode/launch.json
.clang-format
